body {
    font-family: Arial, Helvetica, sans-serif;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.8); /* Black w/ opacity */
}

/*.tmodal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 120px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.8); 
}*/


/* Modal Content */
.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 30%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.input {
    margin: 10px 5px 5px;
    background: rgba(136, 126, 126, 0.12);
    border: 2px solid rgba(0, 0, 0, 0.02);
    border-color:#3fa2f2;
    box-sizing: border-box;
    border-radius: 5px;
    padding:10px;
    width:65%;
    height:40px;
   
}
/* Add Animation */
@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal-header {
    padding: 2px 16px;
    background-color: #01417F;
    color: white;
    height: 35px;
}
.mhead{
    position:absolute;
    top:-10px;

}
.mahead {
    position: absolute;
    top: -10px;
    font-size:16px;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: white;
    color: white;
    height: 50px;
}


.Save {
    background-color: #01417F;
    color: white;
    border: 2px solid #008CBA;
    height:30px;
    position:absolute;
    right:35%;
    bottom:10px;
    width:20%;
}



.Cancel {
    background-color: red;
    color: white;
    border: 2px solid #f44336;
    height: 30px;
    position: absolute;
    right: 10%;
    bottom: 10px;
    width: 20%;
}
.field {
    margin: 20px 5px 5px;
    background: rgba(136, 126, 126, 0.12);
    border: 1px solid #01417F;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
    height: 30px;
}
label {
    font-family: Tahoma;
    font-size: 14px;
    color: #01417F;
    font-weight:bold;
}
.test {
    position: absolute;
    top: 10px;
}
  
/*.Sbutton {
    border-radius:8px;
    background-color: white; /* Green 
    color: cornflowerblue;
    position:fixed;
    right:20%;
    width:5%;
    height:35px;
}*/
.container{
    margin-top:-6%;
    margin-left:3%;
}
