
#sprint {
    margin-top: 100px;
    margin-left: 550px;
}

#project {
    /* float: left; */
    margin-top: 2%;
}

#addpbody {
    margin-left: 10px;
    margin-top: 20px;
    overflow-y: auto;
}

#projModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#addfooter button {
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 10px;
}

#addsbody {
    margin-left: 10px;
    margin-top: 20px;
    font-family:Tahoma;
    font-size:14px;
    /*height: 40px;*/
    overflow-y: auto;
}

#sprintModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}

#taskModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 70px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}
#taskDetailModal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 90px;
    left: 0;
    top: 0;
    /*width: 100%;*/
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.6);
}
.tTable {
    margin-top:20px;
    border-collapse: collapse;
}

    .tTable, .tTable td, .tTable th {
        border: 1px solid black;
        font-size: 14px;
        font-family: Tahoma;
    }
.iTable th, .iTable td {
    text-align: left;
    font-size: 14px;
    font-family: Tahoma;
}
.tTable th {
    text-align: left;
    font-size: 14px;
    font-family: Tahoma;
    background-color: gainsboro;
    width: 35%;
}
.tTable td {
    text-align: left;
    font-size: 14px;
    font-family: Tahoma;
}
.sideReport {
    position: absolute;
    color: black;
    top: 20px;
    left: 20px;
}

.sideDashboard {
    position: absolute;
    color: black;
    top: 120px;
    left: 20px;
}

#dashTable {
    width: 50%;
}

#dashProgress {
    width: 50%;
    margin-left: 550px;
}

#repTable {
    width: 100%;
    height: 300px;
    margin-top: 50px;
    overflow-y: auto;
}

.pfield {
    margin-left:80px;
    margin-bottom:3px; 
    width:60%;
    border: 2px solid #01417F;
}

.sfield {
    margin-left: 88px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}

.rfield {
    margin-left: 78px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}

.tfield {
    margin-left: 85px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}

.tname {
    margin-left: 52px;
    margin-bottom: 3px;
    width: 59%;
    border: 2px solid #01417F;
}

.qa {
    /*margin-left: 2px;*/
    margin-bottom: 3px;
    width: 59%;
    border: 2px solid #01417F;
}
.pm {
    margin-left: 10px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}
.dev {
    margin-left: 53px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}
.sm {
    margin-left: 15px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}

.dline {
    margin-left: 65px;
    margin-bottom: 3px;
    width: 60%;
    border: 2px solid #01417F;
}

textarea {
    border: 2px solid #01417F;
    width:98%;
}
